body{

}

.osama{
  width: 50%;
  align-items: center;
  
}


  /* Width and height for scrollbar track */
::-webkit-scrollbar {
  width: 15px;
  height: 12px;
}

/* Background color for scrollbar track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
  margin-block: 0.5em;
  
}

/* Color and border radius for scrollbar thumb */
::-webkit-scrollbar-thumb {
  background: #7e7e7e;
  border-radius: 10px;
  border: 0.25em solid #f1f1f1;
}

/* Hover color for scrollbar thumb */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}


body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f1f1f1;
}

#navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  padding: 0 20px;
  background-color: #dadada;
  color: #464646;
  box-shadow: 0px 2px 3px rgb(0, 0, 0);
}

.logo h4 {
  margin: 0;
  font-size: 24px;
  font-weight: bold;
}

.nav-links {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-links li {
  margin: 0 10px;
}

.nav-links a {
  text-decoration: none;
  color: #2b2b2b;
  font-size: 18px;
  transition: all 0.3s ease;
}

.nav-links a:hover {
  color: #333;
}

.burger {
  display: none;
  cursor: pointer;
}

.line1, .line2, .line3 {
  width: 30px;
  height: 3px;
  background-color: #3a3a3a;
  margin: 5px;
  transition: all 0.3s ease;
}

@media (max-width: 992px) {
  .nav-links {
    display: none;
  }

  .burger {
    display: block;
  }
}
