
  
*{
  background-color: #f0eae7
}



.columms {
  font-family: "jost";
  margin: 5rem auto;
  width: min(90%, 22rem);
  display: grid;
  margin-left: 50px;
  grid-auto-flow: row;
  gap: 0em;
  padding-top: -90px;
}


.img_container {
  width: 2000px;
  height: 800px;
  margin: 20px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main-img {
  width: 50%;
  height: 200%;
  margin-right: 10px;
  background-color: orange;
}

.stacked-div {
  width: 50%;
  height: 60%;
}

.overlay {
  background-color: #b24040;
  width: 100%;
  height: 100%;
  opacity: 0;
  -webkit-transition: all .4s;
  transition: all .4s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.main-img:hover .overlay,
.top-img:hover .overlay,
.bottom-img:hover .overlay {
  opacity: 1;
}

.top-img,
.bottom-img {
  width: 90%;
  height: calc(100% - 0px);
  background-color: orangered;
}

.top-img {
margin-bottom: 10px;
}







.mainosamatype {
  width: 250px;
}

#navbar {
  background: linear-gradient(to bottom, #1a0909, #f0eae7);
  padding: 44px;
}

#navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

#navbar a {
  color: rgb(26, 8, 8);
  text-decoration: none;
  font-size: 20px;
  font-family: "jost",sans-serif;
  font-weight: 300;
  margin: 0 55px;
  position: relative;
}

#navbar a:hover::after {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  height: 1.px;
  background-color: rgb(0, 0, 0);
  
}



.right-aligned {
  display: flex;
  justify-content: flex-end;
  padding-bottom: 10px;
}




.second{
  font-family: 'Jost', sans-serif;
  font-weight: normal;
  font-style: normal; 
  font-size: 44px;
  line-height: 60px;
  text-transform: fullwidth;
  letter-spacing: 3px;
  text-align: center;
  color: #4f1bfa;
}

h1{
    -webkit-text-stroke-width: 0px;
    -webkit-text-stroke-color: #b24040;
    font-family: "outfit", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 66px;
    line-height: 80px;
    text-transform: fullwidth;
    letter-spacing: px;
    text-align: center;
    color: #1b0b22;
    
    
    
  }
    
  h4 {
    transition: 0.3s;
    color: #333;
  }
  
  h4:hover {
    color: #b24040;
  }
  

    
h4{ 
    
      font-family: 'outfit', sans-serif;
      font-weight: 500;
      font-style: normal; 
      letter-spacing: 6px;
      font-size: 22px;
      line-height: 33px;
      text-align: right;
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-transform: none;
    }


      

h3{
    font-family: 'outfit', sans-serif;
    font-weight: normal;
    font-style: normal; 
    font-size: 44px;
    line-height: 60px;
    text-transform: fullwidth;
    letter-spacing: 3px;
    text-align: center;
    color: #2a1279;
  }

  h6{
    font-family: 'outfit', sans-serif;
    font-weight: 700;
    font-style: normal; 
    letter-spacing: 2px;
    font-size: 25.5px;
    line-height: 33px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-transform: none;
    color: #b34141;
      
    }