
body {
  background-color: #fdfbf1;
}

.osama {
  display: block;
  margin: 0 auto;
  margin-top: 5%;
  margin-bottom: 90px;
  max-width: 17%;
  height: auto;
  display:grid;
  justify-content:center;
  align-items:center;
}

*,
*::before,
*::after {
box-sizing: border-box;
}

html {
color-scheme: var(--color-scheme);
}

body {
margin: 0;
font-family: var(--font-family);
font-size: var(--fs-400);
line-height: 1.6;
}

.container {
width: min(50rem, 100% - 2rem);
margin-inline: auto;
}

.site-title {
font-size: 4rem;
font-family: 'syne', sans-serif;
line-height: 1.05;
text-transform: uppercase;
color: #b24040;
}

.section-title {
font-size: var(--fs-800);
line-height: 1.1;

}

.visually-hidden {
clip: rect(0 0 0 0);
clip-path: inset(50%);
height: 1px;
overflow: hidden;
position: absolute;
white-space: nowrap;
width: 1px;
}

.form {
background: #b2404000 ;
display: grid;
place-content: center;
color: #b24040;

}

.content-grid {
max-inline-size: 1550px;
padding-inline: 2rem;
margin-inline: auto;
min-block-size: 100vh;
min-block-size: 100vh;
display: grid;
}

@media (min-width: 960px) {
.content-grid {
  align-items: center;
  grid-template-columns: 1fr 1fr ;
  gap: 4rem;
}
.card-front__name3{
  font-size: 2px;
}
}


.card-previews {
position: relative;
}

.card-front {
--card-padding: 2rem;

z-index: 2;
top: 35%;
}



.card-front,
.card-back {
position: re;
width: min-content;
}

.card-front > *:not(.card-front__bg),
.card-back > *:not(.card-back__bg) {
position: absolute;
}

.card-front__bg,
.card-back__bg {
max-width: revert;
}

.card-front__logo {
top: var(--card-padding);
left: var(--card-padding);
}


.card-front__name {
  bottom: var(--card-padding);
  left: 4%;
  margin-left: 1%;
  font-size: 0.8rem;
  font-family: 'outfit', sans-serif;
  color: #ffe4c4;
  bottom: 23%;
  align-content: center;
  font-weight: 400;
}

.card-front__name2{
  bottom: var(--card-padding);
  left: 2%;
  margin-left: 7%;
  font-size: 0.8rem;
  font-family: 'outfit', sans-serif;
  color: #ffe4c4;
  bottom: 28%;
  align-content: center;
  font-weight: 400;
  
  }

  .card-front__name3{
    bottom: var(--card-padding);
    left: 4%;
    font-size: 0.9rem;
    font-family: 'outfit', sans-serif;
    color: #ffe4c4;
    bottom: 6.5%;
    align-content: center;
    font-weight: 500;
  }


.card-back__cvc {
top: 44%;
}

.card-back {
  margin-left: auto;
  width: 100%;
}

.card-front{
  width: 100%;

}
.card-front,
.card-back {
  inset: revert;
  position: relative;
}

@media (min-width: 700px) {
  .card-previews {
    display: grid;
    grid-template-rows: 1fr 1fr;
    gap: 2rem;
    font-size: 0.7rem;
  }
}
header {
  position: fixed;
}

header img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100px;
  height: 100px;
}

header img {
  position: absolute;
  top: 0;
  left: 0;
  width: 10%;
  height: auto;
}

@media (min-width: 700px) {
  .card-previews {
    display: grid;
    grid-template-rows: 1fr 1fr;
    gap: 2rem;
  }
}
